@font-face {
	font-family: 'Lato';
	src: url('LatoLatin-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('LatoLatin-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: bold;
}

body, table, div, p, dl, p.definition, table.directory, .tabs, .tabs2 {
	font-family: "Lato", sans-serif;
}


/* @group Heading Levels */

h1.groupheader {
	font-size: 28px;
}

.title {
	font-family: "Lato", sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 10px 2px;
}

h2.groupheader {
	border-bottom: none;
	color: rgb(60, 76, 108);
	font-size: 24px;
	font-weight: normal;
	margin: 42px 0px 20px 0px;
	margin-bottom: 20px;
	padding: 0px;
	width: 100%;
}

h3.groupheader {
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
	-webkit-transition: text-shadow 0.5s linear;
	-moz-transition: text-shadow 0.5s linear;
	-ms-transition: text-shadow 0.5s linear;
	-o-transition: text-shadow 0.5s linear;
	transition: text-shadow 0.5s linear;
}

h1 {
	font-size: 28px;
}

h1, h2 {
	color: rgb(60, 76, 108);
	font-size: 24px;
	font-weight: normal;
	margin: 42px 0px 20px 0px;
}

h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
	text-shadow: 0 0 15px cyan;
}

dt {
	font-weight: bold;
}

div.multicol {
	column-gap: 1em;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}

p.startli, p.startdd, p.starttd {
	margin-top: 2px;
}

p.endli {
	margin-bottom: 0px;
}

p.enddd {
	margin-bottom: 4px;
}

p.endtd {
	margin-bottom: 2px;
}


/* @end */

caption {
	font-weight: bold;
}

span.legend {
	font-size: 70%;
	text-align: center;
}

h3.version {
	font-size: 90%;
	text-align: center;
}

div.qindex, div.navtab {
	background-color: #EBEFF6;
	border: 1px solid #A3B4D7;
	text-align: center;
}

div.qindex, div.navpath {
	width: 100%;
	line-height: 140%;
}

div.navtab {
	margin-right: 15px;
}


/* @group Link Styling */

a {
	color: rgb(51, 102, 204);
	font-weight: normal;
	text-decoration: none;
}

.contents a:visited {
	color: rgb(51, 102, 204);
}

a:hover {
	text-decoration: underline;
}

a.qindex {
	font-weight: bold;
}

a.qindexHL {
	font-weight: bold;
	background-color: #9CAFD4;
	color: #ffffff;
	border: 1px double #869DCA;
}

.contents a.qindexHL:visited {
	color: #ffffff;
}

a.el, .memname, td.entry, pre.fragment, div.line, .mdescLeft, .mdescRight, .memItemLeft,
.memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams, .memtemplate,
.params .paramname, .retval .paramname, .params .paramdir, code {
	font-family: 'Consolas', monospace;
}

a.code, a.code:visited {
	color: rgb(51, 102, 204);
}

a.codeRef, a.codeRef:visited {
	color: rgb(51, 102, 204);
}


/* @end */

dl.el {
	margin-left: -1cm;
}

pre.fragment {
	border: solid 1px rgb(221, 221, 221);
	border-radius: 3px;
	background-color: rgb(248, 248, 248);
	padding: 6px 10px;
	margin: 15px 0px;
	overflow: auto;
	word-wrap: break-word;
	font-size: 9pt;
	line-height: 125%;
	font-size: 105%;
}

div.fragment {
	padding: 6px 10px;
	margin: 15px 0px;
	border: solid 1px rgb(221, 221, 221);
	border-radius: 3px;
	background-color: rgb(248, 248, 248);
}

div.line {
	font-size: 13px;
	min-height: 13px;
	line-height: 1.25;
	white-space: -moz-pre-wrap;
	/* Moz */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	white-space: pre-wrap;
	/* CSS3  */
	word-wrap: break-word;
	/* IE 5.5+ */
	text-indent: -53px;
	padding-left: 53px;
	padding-bottom: 0px;
	margin: 0px;
	-webkit-transition-property: background-color, box-shadow;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: background-color, box-shadow;
	-moz-transition-duration: 0.5s;
	-ms-transition-property: background-color, box-shadow;
	-ms-transition-duration: 0.5s;
	-o-transition-property: background-color, box-shadow;
	-o-transition-duration: 0.5s;
	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
}

div.line.glow {
	background-color: cyan;
	box-shadow: 0 0 10px cyan;
}

span.lineno {
	padding-right: 4px;
	text-align: right;
	border-right: 2px solid #0F0;
	background-color: #E8E8E8;
	white-space: pre;
}

span.lineno a {
	background-color: #D8D8D8;
}

span.lineno a:hover {
	background-color: #C8C8C8;
}

div.ah {
	background-color: black;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 3px;
	margin-top: 3px;
	padding: 0.2em;
	border: solid thin #333;
	border-radius: 0.5em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	box-shadow: 2px 2px 3px #999;
	-webkit-box-shadow: 2px 2px 3px #999;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#000), color-stop(0.3, #444));
	background-image: -moz-linear-gradient(center top, #eee 0%, #444 40%, #000);
}

div.groupHeader {
	margin-left: 0px;
	margin-top: 9px;
	margin-bottom: 4.7px;
	font-size: 19px;
	font-weight: normal;
}

div.groupText {
	margin-left: 16px;
	font-style: italic;
}

body {
	background-color: white;
	color: black;
	margin: 0;
}

div.contents {
	margin-top: 10px;
	margin-left: 12px;
	margin-right: 8px;
}

td.indexkey {
	background-color: #EBEFF6;
	font-weight: bold;
	border: 1px solid #C4CFE5;
	margin: 2px 0px 2px 0;
	padding: 2px 10px;
	white-space: nowrap;
	vertical-align: top;
}

td.indexvalue {
	background-color: #EBEFF6;
	border: 1px solid #C4CFE5;
	padding: 2px 10px;
	margin: 2px 0px;
}

tr.memlist {
	background-color: #EEF1F7;
}

p.formulaDsp {
	text-align: center;
}

img.formulaInl {
	vertical-align: middle;
}

div.center {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

div.center img {
	border: 0px;
}

address.footer {
	text-align: right;
	padding-right: 12px;
}

img.footer {
	border: 0px;
	vertical-align: middle;
}


/* @group Code Colorization */

span.keyword {
	color: #008000
}

span.keywordtype {
	color: #604020
}

span.keywordflow {
	color: #e08000
}

span.comment {
	color: #800000
}

span.preprocessor {
	color: #806020
}

span.stringliteral {
	color: #002080
}

span.charliteral {
	color: #008080
}

span.vhdldigit {
	color: #ff00ff
}

span.vhdlchar {
	color: #000000
}

span.vhdlkeyword {
	color: #700070
}

span.vhdllogic {
	color: #ff0000
}

blockquote {
	background-color: #F7F8FB;
	border-left: 2px solid #9CAFD4;
	margin: 0 24px 0 4px;
	padding: 0 12px 0 16px;
}


/* @end */


/*
.search {
	color: #003399;
	font-weight: bold;
}

form.search {
	margin-bottom: 0px;
	margin-top: 0px;
}

input.search {
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #e8eef2;
}
*/

td.tiny {
	font-size: 75%;
}

.dirtab {
	padding: 4px;
	border-collapse: collapse;
	border: 1px solid #A3B4D7;
}

th.dirtab {
	background: #EBEFF6;
	font-weight: bold;
}

hr {
	height: 0px;
	border: none;
	border-top: 1px solid #bbb;
}


/* @group Member Descriptions */

table.memberdecls {
	border-spacing: 0px;
	padding: 0px;
}

.memberdecls td, .fieldtable tr {
	-webkit-transition-property: background-color, box-shadow;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: background-color, box-shadow;
	-moz-transition-duration: 0.5s;
	-ms-transition-property: background-color, box-shadow;
	-ms-transition-duration: 0.5s;
	-o-transition-property: background-color, box-shadow;
	-o-transition-duration: 0.5s;
	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
}

.memberdecls td.glow, .fieldtable tr.glow {
	background-color: cyan;
	box-shadow: 0 0 15px cyan;
}

.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams {
	background-color: white;
	border: none;
	margin: 4px;
	padding: 1px 0 0 8px;
}

.mdescLeft, .mdescRight {
	padding: 0px 8px 4px 24px;
	color: #444;
	font-family: "Lato", sans-serif;
	font-style: normal;
}

.memSeparator {
	border-bottom: none;
	line-height: 8px;
	margin: 0px;
	padding: 0px;
}

.memItemLeft, .memTemplItemLeft {
	white-space: nowrap;
}

.memItemRight {
	width: 100%;
}

.memTemplParams {
	color: #4665A2;
	white-space: nowrap;
	font-size: 80%;
}


/* @end */


/* @group Member Details */


/* Styles for detailed member documentation */

.memtemplate {
	font-size: 100%;
	color: black;
	font-weight: normal;
	margin-left: 1px;
}

.memnav {
	background-color: #EBEFF6;
	border: 1px solid #A3B4D7;
	text-align: center;
	margin: 2px;
	margin-right: 15px;
	padding: 2px;
}

.mempage {
	width: 100%;
}

.memitem {
	padding: 0;
	margin-bottom: 10px;
	margin-right: 5px;
	-webkit-transition: box-shadow 0.5s linear;
	-moz-transition: box-shadow 0.5s linear;
	-ms-transition: box-shadow 0.5s linear;
	-o-transition: box-shadow 0.5s linear;
	transition: box-shadow 0.5s linear;
	display: table !important;
	width: 100%;
}

.memitem.glow {
	box-shadow: 0 0 15px cyan;
}

.memname {
	font-weight: 400;
	font-size: 19px;
	margin-left: 0px;
}

.memname td {
	vertical-align: bottom;
}

.memproto, dl.reflist dt {
	margin-top: 1.5em;
	border: none;
	border-bottom: 1px solid rgb(172, 172, 172);
	padding: 0px;
	color: black;
	font-weight: bold;
	text-shadow: none;
	background-image: none;
	background-color: rgb(235, 238, 241);
	/* opera specific markup */
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	/* firefox specific markup */
	-moz-box-shadow: none;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	/* webkit specific markup */
	-webkit-box-shadow: none;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
}

.memdoc, dl.reflist dd {
	border: none;
	padding: 6px;
	background-color: #FBFCFD;
	border-top-width: 0;
	background-image: none;
	background-color: #FFFFFF;
	/* opera specific markup */
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: none;
	/* firefox specific markup */
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-box-shadow: none;
	/* webkit specific markup */
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-box-shadow: none;
}

dl.reflist dt {
	padding: 5px;
}

dl.reflist dd {
	margin: 0px 0px 10px 0px;
	padding: 5px;
}

.paramkey {
	text-align: right;
}

.paramtype {
	white-space: nowrap;
}

.paramname {
	color: rgb(37, 53, 85);
	white-space: nowrap;
}

.paramname em {
	font-style: italic;
	font-weight: normal;
}

.paramname code {
	line-height: 14px;
}

.params, .retval, .exception, .tparams {
	margin-left: 0px;
	padding-left: 0px;
}

.params .paramname, .retval .paramname {
	font-style: italic;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

.params .paramtype {
	font-style: italic;
	vertical-align: top;
}

.params .paramdir {
	vertical-align: top;
}

table.mlabels {
	border-spacing: 0px;
}

td.mlabels-left {
	width: 100%;
	padding: 0px;
}

td.mlabels-right {
	vertical-align: middle;
	padding: 0px;
	white-space: nowrap;
}

span.mlabels {
	margin-left: 8px;
}

span.mlabel {
	background-color: rgb(172, 172, 172);
	;
	border: none;
	text-shadow: none;
	color: white;
	margin-right: 4px;
	padding: 2px 3px;
	border-radius: 4px;
	font-size: 9pt;
	white-space: nowrap;
	vertical-align: middle;
}


/* @end */


/* these are for tree view when not used as main index */

div.directory {
	margin: 10px 0px;
	border-top: 1px solid #A8B8D9;
	border-bottom: 1px solid #A8B8D9;
	width: 100%;
}

.directory table {
	border-collapse: collapse;
}

.directory td {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

.directory td.entry {
	white-space: nowrap;
	padding-right: 6px;
	padding-top: 3px;
}

.directory td.entry a {
	font-weight: bold;
}

.directory td.entry a img {
	border: none;
}

.directory td.desc {
	width: 100%;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.directory tr.even {
	padding-left: 6px;
	background-color: #F7F8FB;
}

.directory img {
	vertical-align: -30%;
}

.directory .levels {
	white-space: nowrap;
	width: 100%;
	text-align: right;
	font-size: 9pt;
}

.directory .levels span {
	cursor: pointer;
	padding-left: 2px;
	padding-right: 2px;
	color: #3D578C;
}

div.dynheader {
	margin-top: 8px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

address {
	font-style: normal;
	color: #2A3D61;
}

table.doxtable {
	border-collapse: collapse;
	margin-top: 4px;
	margin-bottom: 4px;
}

table.doxtable td, table.doxtable th {
	border: 1px solid #2D4068;
	padding: 3px 7px 2px;
}

table.doxtable th {
	background-color: #374F7F;
	color: #FFFFFF;
	font-size: 110%;
	padding-bottom: 4px;
	padding-top: 5px;
}

table.fieldtable {
	/*width: 100%;*/
	margin-bottom: 10px;
	border: 1px solid #A8B8D9;
	border-spacing: 0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.fieldtable td, .fieldtable th {
	padding: 3px 7px 2px;
}

.fieldtable td.fieldtype, .fieldtable td.fieldname {
	white-space: nowrap;
	border-right: 1px solid #A8B8D9;
	border-bottom: 1px solid #A8B8D9;
	vertical-align: top;
}

.fieldtable td.fieldname {
	padding-top: 3px;
}

.fieldtable td.fielddoc {
	border-bottom: 1px solid #A8B8D9;
	/*width: 100%;*/
}

.fieldtable td.fielddoc p:first-child {
	margin-top: 0px;
}

.fieldtable td.fielddoc p:last-child {
	margin-bottom: 2px;
}

.fieldtable tr:last-child td {
	border-bottom: none;
}

.fieldtable th {
	background-image: url('nav_f.png');
	background-repeat: repeat-x;
	background-color: #E2E8F2;
	font-size: 90%;
	color: #253555;
	padding-bottom: 4px;
	padding-top: 5px;
	text-align: left;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #A8B8D9;
}

.tabsearch {
	top: 0px;
	left: 10px;
	height: 36px;
	background-image: url('tab_b.png');
	z-index: 101;
	overflow: hidden;
	font-size: 13px;
}

.navpath ul {
	font-size: 11px;
	background-image: url('tab_b.png');
	background-repeat: repeat-x;
	background-position: 0 -5px;
	height: 30px;
	line-height: 30px;
	color: #8AA0CC;
	border: solid 1px #C2CDE4;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.navpath li {
	list-style-type: none;
	float: left;
	padding-left: 10px;
	padding-right: 15px;
	background-image: url('bc_s.png');
	background-repeat: no-repeat;
	background-position: right;
	color: #fff;
}

.navpath li:after {
	content: '::';
}

.navpath li.navelem a {
	height: 32px;
	display: block;
	text-decoration: none;
	outline: none;
	color: #283A5D;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
	text-decoration: none;
}

.navpath li.navelem a:hover {
	color: #6884BD;
}

.navpath li.footer {
	list-style-type: none;
	float: right;
	padding-left: 10px;
	padding-right: 15px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: right;
	color: #364D7C;
	font-size: 8pt;
}

div.summary {
	float: right;
	font-size: 8pt;
	padding-right: 5px;
	width: 50%;
	text-align: right;
}

div.summary a {
	white-space: nowrap;
}

div.ingroups {
	font-size: 8pt;
	width: 50%;
	text-align: left;
}

div.ingroups a {
	white-space: nowrap;
}

div.header {
	background-image: none;
	background-color: white;
	margin: 0px;
	border: none;
}

div.headertitle {
	padding: 5px 5px 5px 10px;
}

dl {
	padding: 0 0 0 10px;
}


/* dl.note, dl.warning, dl.attention, dl.pre, dl.post, dl.invariant, dl.deprecated, dl.todo, dl.test, dl.bug */

dl.section {
	margin-left: 0px;
	padding-left: 0px;
}

dl.note {
	margin-left: 0px;
	padding: 6px 0px 3px 8px;
	border-left: 6px solid;
	border-color: #D0C000;
	background-color: #fff799
}

dl.warning, dl.attention {
	margin-left: 0px;
	padding: 6px 0px 3px 8px;
	border-left: 6px solid;
	border-color: #FF0000;
}

dl.pre, dl.post, dl.invariant {
	margin-left: -7px;
	padding-left: 3px;
	border-left: 4px solid;
	border-color: #00D000;
}

dl.deprecated {
	margin-left: 0px;
	padding: 6px 0px 3px 8px;
	border-left: 6px solid;
	border-color: #505050;
}

dl.todo {
	margin-left: 0px;
	padding: 6px 0px 3px 8px;
	border-left: 4px solid;
	border-color: #00C0E0;
}

dl.test {
	margin-left: -7px;
	padding-left: 3px;
	border-left: 4px solid;
	border-color: #3030E0;
}

dl.bug {
	margin-left: -7px;
	padding-left: 3px;
	border-left: 4px solid;
	border-color: #C08050;
}

dl.section dd {
	margin-bottom: 6px;
}

#projectlogo {
	text-align: center;
	vertical-align: bottom;
	border-collapse: separate;
}

#projectlogo img {
	border: 0px none;
}

#projectname {
	font: 300% Tahoma, Arial, sans-serif;
	margin: 0px;
	padding: 2px 0px;
}

#projectbrief {
	font: 120% Tahoma, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

#projectnumber {
	font: 50% Tahoma, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

#titlearea {
	display: none;
}

.image {
	text-align: center;
}

.dotgraph {
	text-align: center;
}

.mscgraph {
	text-align: center;
}

.caption {
	font-weight: bold;
}

div.zoom {
	border: 1px solid #90A5CE;
}

dl.citelist {
	margin-bottom: 50px;
}

dl.citelist dt {
	color: #334975;
	float: left;
	font-weight: bold;
	margin-right: 10px;
	padding: 5px;
}

dl.citelist dd {
	margin: 2px 0;
	padding: 5px 0;
}

div.toc {
	padding: 14px 25px;
	background-color: #F4F6FA;
	border: 1px solid #D8DFEE;
	border-radius: 7px 7px 7px 7px;
	float: right;
	height: auto;
	margin: 0 20px 10px 10px;
	width: 200px;
}

div.toc li {
	background: url("bdwn.png") no-repeat scroll 0 5px transparent;
	font: 10px/1.2 Verdana, DejaVu Sans, Geneva, sans-serif;
	margin-top: 5px;
	padding-left: 10px;
	padding-top: 2px;
}

div.toc h3 {
	font: bold 12px/1.2 Arial, FreeSans, sans-serif;
	color: #4665A2;
	border-bottom: 0 none;
	margin: 0;
}

div.toc ul {
	list-style: none outside none;
	border: medium none;
	padding: 0px;
}

div.toc li.level1 {
	margin-left: 0px;
}

div.toc li.level2 {
	margin-left: 15px;
}

div.toc li.level3 {
	margin-left: 30px;
}

div.toc li.level4 {
	margin-left: 45px;
}

.inherit_header {
	font-weight: bold;
	color: gray;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inherit_header td {
	padding: 6px 0px 2px 5px;
}

.inherit {
	display: none;
}

tr.heading h2 {
	margin-top: 42px;
	margin-bottom: 20px;
}

@media print {
	#top {
		display: none;
	}
	#side-nav {
		display: none;
	}
	#nav-path {
		display: none;
	}
	body {
		overflow: visible;
	}
	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}
	.summary {
		display: none;
	}
	.memitem {
		page-break-inside: avoid;
	}
	#doc-content {
		margin-left: 0 !important;
		overflow: inherit;
		display: inline;
	}
}

.tabs, .tabs2, .tabs3, .sm {
	background-image: none;
	background-color: #2f3a48;
	color: white;
}

.tabs2, .tabs li.current, .sm .highlighted {
	background-color: #51637b;
}

.tablist li {
	background-image: none;
}

.tablist a, .sm a {
	background-image: none;
	color: white;
	text-shadow: none;
}

.tablist a:hover, .sm a:hover, .sm .highlighted {
	background-image: none;
	text-shadow: none;
	text-decoration: underline;
}

.tablist li.current a {
	background-image: none;
	text-shadow: none;
}

.tabs2 li.current {
	background-color: #fff;
}

.tabs2 li.current a {
	color: #222;
}

.navpath {
	display: none;
}

.navpath ul {
	background-image: none;
	background-color: #888;
	border: none;
}

.navpath li {
	background-image: none;
}

.navpath li.navelem a {
	background-image: none;
	color: white;
	text-shadow: none;
}

.navpath li.navelem a:hover {
	background-image: none;
	color: white;
	text-shadow: none;
}

.memtitle {
	background-image: none;
	background-color: transparent;
	border: none;
}
